################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GamesList/GamesListWeb/obj
/GamesList/GamesListWeb/bin/Debug/netcoreapp1.1
*.user
